*{
  margin: 0;
}

text, span, li{
  font-size: 7pt;
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

circle, text{
  cursor: pointer;
}

body{
  overflow: hidden;
}

li {
  display: none;
  font-size: 10pt;
  font-weight: normal;
  text-transform: none;
  padding: 10px 13px;
}

a {
  color: black;
}

circle {
  fill: hsl(180, 0%, 80%);
  stroke: hsl(180, 0%, 80%);
}

line {
  stroke: hsl(180, 0%, 80%);
  stroke-width: 4px;
  fill: none;
}

li.active {
  display: block;
}

circle.active, circle.highlight {
  fill: hsl(180, 70%, 60%);
  stroke: hsl(180, 70%, 60%);
}

circle.active {
  stroke-width: 100px;
}

circle.highlight {
  stroke-width: 190px;
}

li.highlight{
  background-color: hsl(180, 70%, 60%);
}

a.highlight {
  color: hsl(180, 50%, 80%);
}

line.active, line.highlight {
  stroke-width: 10px;
  stroke: hsl(180, 70%, 60%);
}

line.year, line.year:hover {
  stroke: #bbb;
  stroke-width: 1px;
  fill: none;
  marker-end: none;
  cursor: default;
}

text.year {
  cursor: default;
}

#defs{
  display: none;
}

#search-form {
  position: fixed;
  background: white;
  width: 25%;
  height: 100%;
}

#search{
  width: 95%;
  padding: 0;
  padding-bottom: 2px;
  padding-right: 10px;
}

#matches {
  margin-left: 10px;
  width: 20%;
}

input {
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: 0;
}

#search-area{
  height: 8%;
}

#list {
  position: relative;
  overflow-y: scroll;
  list-style-type: none;
  height: 92%;
  padding: 0;
}

#graph {
  position: absolute;
  left: 25%;
  width: 75%;
  height: 100%;
}

table {
  table-layout: fixed;
}

td:first-child {
  font-size: 8pt;
  font-weight: bold;
  min-width: 30%;
  max-width: 30%;
}

td:nth-child(2) {
  min-width: 70%;
  max-width: 70%;
}
