*{
  margin: 0;
}

circle, rect {
  fill: white;
  stroke: #222;
  stroke-width: 1px;
}

.active circle, circle.active, circle:hover {
  fill: #bbb;
}

circle, line, text{
  cursor: pointer;
}

line {
  stroke: #bbb;
  stroke-width: 1px;
  fill: none;
  marker-end: url(#markerArrow);
}

line.active, line:hover {
  stroke: #222;
  stroke-width: 4px;
  marker-end: url(#markerArrow-active);
}

text, label, li{
  font-size: 7pt;
  fill: black;
  text-anchor: middle;
  alignment-baseline: middle;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#markerArrow > path{
  fill: #bbb;
}

#markerArrow-active > path{
  fill: #222;
}

body{
  overflow: hidden;
}

#defs{
  width: 0;
  height: 0;
}

#search-form {
  position: fixed;
  background: white;
  width: 25%;
  height: 100%;
}

#search{
  width: 70%;
  padding: 0;
  padding-bottom: 2px;
}

input {
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: 0;
}

#search-area{
  height: 5%;
}

#lang-list {
  position: relative;
  overflow-y: scroll;
  list-style-type: none;
  height: 95%;
  padding: 0;
}

#lang-list li {
  font-size: 10pt;
  font-weight: normal;
  text-transform: none;
  padding: 10px 13px;
  cursor: pointer;
}

#lang-list li:hover {
  background-color: #ddd;
}

#lang-list li.active {
  background-color: #aaa;
}
